@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Inconsolata:wght@200;300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Roboto', sans-serif;

}

:root {
    --lightergrey: #e4e7ef;
    --lightgrey: #97989D;
    --darkgrey: #6C6C6C;
    --orange: #F77F00;
    --white: #FFFFFF;
    --darkblue: #003049;
    --lightblue: #DDE4FE;
}

.main-container {
    width: 100%;
    height: 100% !important;
    overflow-x: hidden;
}

.business-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex: wrap;
    padding: 10px;
}

.business-card-outline {
    background-color: var(--lightgrey);
    width: 19%;
    height: 350px;
    border-radius: 10px;
}

.business-card {
    background-color: white;
    height: fill;
    margin: 10px;
    border-radius: 10px;
    padding: 3px;
}

.business-img {
    width: 85%;
    height: 50%;
    border-radius: 10px;
    display: flex;
    /* Use flexbox to center-align content */
    flex-direction: column;
    /* Arrange items vertically */
    align-items: center;
    /* Center content horizontally */
    border: 1px solid var(--darkgrey);
    margin-left: 20px;
}

.company-name {
    color: grey;
    font-size: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}

.service-type {
    color: grey;
    font-size: 13px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin-left: 10px;
}

.service-type-individual {
    margin-left: 3px
}


.shop-icon {
    font-size: 25px;
    margin-right: 3px;
    margin-top: 7px;
}

.service-icon {
    font-size: 25px !important;
}

.address {
    color: grey;
    font-size: 13px;
    display: flex;
    margin-left: 10px;
}

.address-icon {
    font-size: 28px !important;
    padding-bottom: 10px !important;
}

.business-detail-button {
    display: flex;
    align-items: center;
    justify-content: end;
}

.circle-button {
    border-radius: 50%;
    /* Set border-radius to 50% to create a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7904;
    /* Optional: Change the background color */
    color: white;
    /* Optional: Change the text color */
    cursor: pointer;
    /* Optional: Add a cursor pointer for interaction */
    border: none;
    /* Optional: Remove button border */
    outline: none;
    /* Optional: Remove button outline */
    margin-bottom: 10px;
    margin-right: 10px;
}

.query-button {
    width: 100px;
    /* Adjust the width to control the size of the circle */
    height: 40px;
    /* Should match the width to create a circle */
    border-radius: 5px;
    /* Set border-radius to 50% to create a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 180, 127);
    ;
    /* Optional: Change the background color */
    color: white;
    /* Optional: Change the text color */
    cursor: pointer;
    /* Optional: Add a cursor pointer for interaction */
    border: none;
    /* Optional: Remove button border */
    outline: none;
    /* Optional: Remove button outline */
    margin-top: 10px;
    margin-bottom: 10px;
}

.business-header {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.business-subheader {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;

}

.business-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}