@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Inconsolata:wght@200;300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: rgb(253, 180, 127);
    display: inline-flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
    
}

.business-card {
    width: 220px;
    height: 320px;
    background-color: white;
    border-radius: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow-y: hidden; /* Hide vertical scrollbar if content overflows */
    display: flex; /* Use flexbox to center-align content */
    flex-direction: column; /* Arrange items vertically */ 
    align-items: center; /* Center content horizontally */
}

.img {
    width: 150px;
    height: 250px;
    margin-top: 15px;
    border-radius: 15px;
    display: flex; /* Use flexbox to center-align content */
    flex-direction: column; /* Arrange items vertically */ 
    align-items: center; /* Center content horizontally */
}

.service-type {
    color:rgb(25, 96, 157);
    font-size: 12px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.service-type-individual {
    margin-left: 3px
}

.company-name {
    color: grey;
    font-size: 10px;
    display: flex;
    
    
}

.icon {
    font-size: 15px !important;
    margin-bottom: 16px;
    margin-right: 3px;
}

.address {
    color: grey;
    font-size: 10px;
    display: flex;
    
}

.circle-button {
    width: 40px; /* Adjust the width to control the size of the circle */
    height: 40px; /* Should match the width to create a circle */
    border-radius: 50%; /* Set border-radius to 50% to create a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7904; /* Optional: Change the background color */
    color: white; /* Optional: Change the text color */
    cursor: pointer; /* Optional: Add a cursor pointer for interaction */
    border: none; /* Optional: Remove button border */
    outline: none; /* Optional: Remove button outline */
    margin-left: 150px;
}

.query-button {
    width: 100px; /* Adjust the width to control the size of the circle */
    height: 40px; /* Should match the width to create a circle */
    border-radius: 5px; /* Set border-radius to 50% to create a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 180, 127);; /* Optional: Change the background color */
    color: white; /* Optional: Change the text color */
    cursor: pointer; /* Optional: Add a cursor pointer for interaction */
    border: none; /* Optional: Remove button border */
    outline: none; /* Optional: Remove button outline */
    margin-top: 10px;
    margin-bottom: 10px;
}

