:root {
    --lightergrey: #e4e7ef;
    --lightgrey: #97989D;
    --darkgrey: #6C6C6C;
    --orange: #F77F00;
    --white: #FFFFFF;
    --darkblue: #003049;
    --lightblue: #DDE4FE;
}

.post-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-header {
    display: flex;
}

.post-header-words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    padding: 5px;
    margin: 2px;
}

.image-container {
    overflow: hidden;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 2px;
}

.img-issue {
    height: auto;
    width: auto;
}

.post-vote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-button {
    display: block;
    margin-top: 30px;
    margin-left: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(227, 227, 227);

}

.post-container {

    border-radius: 10px;
    width: 800px;
    height: auto;
    padding-top: 1px;
    padding-bottom: 1px;
}

.post-details {
    display: flex;
    /* Use flexbox to center-align content */
    flex-direction: column;
    /* Arrange items vertically */
    align-items: center;
    /* Center content horizontally */
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 0.75rem;
}

#detailsModal .modal-dialog {
    max-width: 90%;
    /* Set the maximum width */
    max-height: 90vh;
    /* Set the maximum height (viewport height) */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.upvote-button {
    border-style: none;
    background-color: rgb(245, 245, 245);

}

.top-bar {
    display: flex;
    /* Use Flexbox */
    align-items: center;
    /* Vertically center elements */
    justify-content: center;
    position: fixed;
    width: 1000px;
    height: 60px !important;
    top: -20px !important;
    right: 25%;
}

/* Add styles to individual elements within .top-bar as needed */
.top-bar .element {
    margin: 0 10px;
    /* Add horizontal spacing between elements */
}

.search-icon {
    margin-top: 3px;
    margin-right: 3px;
}

.search-bar {
    margin-top: 12px;
    width: fill;
    margin-left: 10px;
    margin-right: 500px;
}

.search-input {
    border-radius: 20px;
    border-style: none;

}

.query-button {
    background-color: rgb(200, 200, 200);
    margin-right: 10px;
    border-radius: 20px;
    width: 15%;
}

.logout-button {
    background-color: rgb(255, 115, 0);
    border-radius: 20px;
    width: 15%;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.forum-container {
    display: flex;
}

.forum-posts {
    margin-top: -20px;
    margin-left: 168px;
    border-radius: 10px;
}

.scrollable-content {
    padding: 1rem;
}

.filter-container {
    position: fixed;
    display: block;
    justify-content: center;
    right: 60px;
    top: 80px;
    /* width: 140px; */
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px lightgray;
    width: 17%;
    height: 85%;
    padding-left: 20px;
    overflow: auto;
}

.post-issue {
    display: flex;
    /* Use flexbox layout */
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.post-issue svg {
    margin-right: 8px;
    /* Add some spacing between the icon and text */
}

.post-deviceModel {
    margin-left: 10px;
    font-weight: 500;
}

.post-deviceType {
    margin-left: 10px;
    font-weight: 500;
}

.post-comment-count {
    margin-left: 10px;
    color: var(--darkgrey);
    font-size: 13px;
}

.post-footer-container {
    display: flex;

}

.post-postSolution {
    background-color: rgb(116, 170, 35);
    border-radius: 20px;
    width: 20%;
    display: flex;
    justify-content: center;
    margin-left: 8px;
    color: white;
    font-size: 12px;

}

.post-postIssue {
    background-color: rgb(255, 133, 19);
    border-radius: 20px;
    width: 20%;
    display: flex;
    justify-content: center;
    margin-left: 8px;
    color: white;
    font-size: 12px;
}

.post-postOthers {
    background-color: rgb(0, 247, 255);
    border-radius: 20px;
    width: 20%;
    display: flex;
    justify-content: center;
    margin-left: 8px;
    color: white;
}

.post-description-forum {
    margin-left: 10px;
    color: var(--darkgrey);
}

.filterForm-filterType,
.filterForm-filterModel {
    font-weight: bold;
}

label {
    display: block;
    /* Ensures each label is on a new line */
}

.checkbox-custom:checked {
    background-color: rgb(255, 133, 19);
    /* Change to the color you want */
    border-color: rgb(255, 133, 19);
    /* Change to the color you want */
}

.filter-button {
    background-color: rgb(255, 133, 19);
    border-style: none;
    margin-bottom: 10px;
}

.filtered-options-display {
    color: rgb(178, 178, 178);
    font-size: 11px;
}

.forum-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.forum-subheader {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.forum-header-container {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    padding-right: 200px;
}